@model IEnumerable<CSWeFramework.Web.Models.Car.CarViewModel>

@{
    ViewBag.Title = "汽车首页";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section styles{


}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">首页</a>
                </li>

                <li>
                    <a href="#">用户管理</a>
                </li>
                <li class="active">列表</li>
            </ul><!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>

            <div class="row">

                <div class="col-xs-5">
                    <select name="monitorID" class="form-control" id="monitorID">
                        <option value="1">测试21</option>
                        <option value="3">测试2</option>
                        <option value="7">测试3</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <select name="sensorID" class="form-control" id="sensorID">
                        <option selected="selected" value="7">测试A</option>
                        <option value="8">测试B</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        查询
                    </button>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Name)</th>
                        <th>   @Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>  @Html.DisplayNameFor(model => model.CreateTime)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div><!-- /.page-content -->
    </div>
</div>

@section scripts{

    <script>



    </script>
}


